<h1>Edit <%=@figure.name%></h1>

<form action="/figures/<%=@figure.id%>" method="POST">
  <input type="hidden" value="patch" name="_method">
<br>
  <label>Name:</label>
  <input type="text" id="figure_name" name="figure[name]" value="<%=@figure.name%>">
<br>
  <label>Edit Landmarks:</label>
<br>
  <%Landmark.all.each do |landmark|%>
  <%=landmark.name%>
  <br>
  <input type="checkbox" id="<%=landmark.name%>" name="figure[landmark_ids][]" value="<%=landmark.id%>" <%='checked' if @figure.landmarks.include?(landmark)%>>
  <%end%>
<br>
  <label>Add a New Landmark:</label>
  <input type="text" id="new_landmark" name="landmark[name]">
<br>
  <label>Edit Existing Titles:</label>
  <%Title.all.each do |title|%>
  <label><%=title.name%></label>
  <br>
  <input type="checkbox" id="<%title.name%>" name="figure[title_ids][]" value="<%=title.id%>" <%='checked' if @figure.titles.include?(title)%>>
  <%end%>
<br>
  <label>Add a New Title:</label>
  <input type="text" id="new_title" name="title[name]">
<br>
  <input type="submit" value="Edit Figure">
</form>
